<!DOCTYPE html>
<html lang="en">

<head>
<title>Kurento Room Demo</title>
<meta name="author" content="kurento.org">
<link rel="shortcut icon" href="static/room/img/kurento.png" type="image/png" />

<!-- Bower CSS styles -->
<link type="text/css" rel="stylesheet"
	href="static/room/css/jquery-ui.min.css">
<link type="text/css" rel="stylesheet"
	href="static/room/css/material-design-iconic-font.min.css">
<link type="text/css" rel="stylesheet"
	href="static/room/css/lumx.css">

<!-- Custom CSS styles -->
<link type="text/css" rel="stylesheet" href="static/room/css/room.css" />
<link type="text/css" rel="stylesheet" href="static/room/css/googleapis-fonts.css">

<!-- Bower JavaScript dependencies -->
<script src="static/room/js/adapter.js"></script>
<script src="static/room/js/jquery.min.js"></script>
<script src="static/room/js/jquery-ui.min.js"></script>
<script src="static/room/js/angular.min.js"></script>
<script src="static/room/js/angular-clipboard.js"></script>
<script src="static/room/js/angular-route.js"></script>
<script src="static/room/js/angular-fullscreen.js"></script>
<script src="static/room/js/velocity.js"></script>
<script src="static/room/js/moment-with-locales.min.js"></script>
<script src="static/room/js/lumx.min.js"></script>
<script src="static/room/js/EventEmitter.min.js"></script>

<!-- Kurento JavaScript dependencies -->
<script src="static/room/js/kurento-utils.js"></script>
<script src="static/room/js/kurento-jsonrpc.js"></script>
<script src="static/room/js/KurentoRoom.js"></script>

<!-- Custom JavaScript dependencies -->
<script src="static/room/angular/app.js"></script>
<script src="static/room/angular/call/callController.js"></script>
<script src="static/room/angular/login/loginController.js"></script>
<script src="static/room/angular/services/Participants.js"></script>
<script src="static/room/angular/services/serviceParticipant.js"></script>
<script src="static/room/angular/services/serviceRoom.js"></script>
</head>

<body ng-app="kurento_room">
	<div ng-view>
		<!--display the view (login/call) with route system-->
	</div>
</body>
</html>
